
<nav>
    <a href="{{ path('main_home') }}">Accueil</a>
    <a href="{{ path('main_test') }}">Testounet</a>
    <a href="{{ path('recette_list') }}">Recettes</a>
    <a href="{{ path('main_projet') }}">Le Projet</a>

</nav>
