{% extends 'base.html.twig' %}

 {% block body %}
     <h1 class="text-3xl font-bold text-emerald-500" >Les Recettes du CDM</h1>
 {% endblock %}

{% block title %}
{{ parent() }} | Did it before you die
{% endblock %}
