{% extends 'base.html.twig' %}

{% block title %}
    Projet | {{ parent() }}
{% endblock %}

{% block body %}
<h1>Le projet</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At autem, cum cumque delectus distinctio earum itaque modi, obcaecati pariatur praesentium, quas quia quis quisquam quo sed tempore tenetur veritatis voluptatibus?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque deleniti distinctio, doloremque ducimus est harum illum ipsam libero nesciunt nulla porro sunt tenetur vitae. Aliquam aperiam assumenda minus? Ea, laborum.</p>
{% endblock %}

