<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>{% block title %}Recettes du CDM!{% endblock %}</title>




        {% block stylesheets %}

        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}

    </head>

    <body>
        <header>
        {% include("views/nav.html.twig") %}
        </header>

        <main>
            {% block body %}{% endblock %}
        </main>

        <footer>
            &copy; Centre de Marais {{"now"|date("Y") }}
        </footer>

    </body>
</html>
